In [2]:
import pandas as pd

df = pd.read_csv('details.csv')
df

       Brand       Model  year   engine     cc         color  wheels
0    Hyundai       verna  2020   petrol    1.6         white       4
1      Skoda      Slavia  2025   petrol    1.5         black       4
2      Skoda      Superb  2020   petrol    2.0         white       4
3       audi          A6  2025   petrol    2.0         white       4
4         RR       Ghost  2020   petrol    6.5         white       4
5  Lambogini    Revuelto  2025   petrol    6.4          Teal       4
6    Hyundai     Elantra  2020   Diesel    2.0         black       4
7        KTM       rc200  2015   petrol  200.0  white orange       2
8     yamaha   r15 v2 se  2019   petrol  150.0    balck blue       2
9       java       perak  2025   petrol    NaN         green       2

In [19]:
df.head(6)

       Brand      Model  year   engine   cc   color  wheels
0    Hyundai      verna  2020   petrol  1.6   white       4
1      Skoda     Slavia  2025   petrol  1.5   black       4
2      Skoda     Superb  2020   petrol  2.0   white       4
3       audi         A6  2025   petrol  2.0   white       4
4         RR      Ghost  2020   petrol  6.5   white       4
5  Lambogini   Revuelto  2025   petrol  6.4    Teal       4

In [17]:
df.tail(9)

       Brand       Model  year   engine     cc         color  wheels
0    Hyundai       verna  2020   petrol    1.6         white       4
1      Skoda      Slavia  2025   petrol    1.5         black       4
2      Skoda      Superb  2020   petrol    2.0         white       4
3       audi          A6  2025   petrol    2.0         white       4
4         RR       Ghost  2020   petrol    6.5         white       4
5  Lambogini    Revuelto  2025   petrol    6.4          Teal       4
6    Hyundai     Elantra  2020   Diesel    2.0         black       4
7        KTM       rc200  2015   petrol  200.0  white orange       2
8     yamaha   r15 v2 se  2019   petrol  150.0    balck blue       2

In [5]:
df.describe()

              year          cc     wheels
count    10.000000    9.000000  10.000000
mean   2021.400000   41.333333   3.400000
std       3.438346   76.831000   0.966092
min    2015.000000    1.500000   2.000000
25%    2020.000000    2.000000   2.500000
50%    2020.000000    2.000000   4.000000
75%    2025.000000    6.500000   4.000000
max    2025.000000  200.000000   4.000000

In [6]:
#Describes the datatypes and number of rows containing null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   10 non-null     object
 1   Model   10 non-null     object
 2   year    10 non-null     int64
 3   engine  10 non-null     object
 4   cc      9 non-null      float64
 5   color   10 non-null     object
 6   wheels  10 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 692.0+ bytes

In [7]:
#Using dropna to drop values
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   9 non-null      object
 1   Model   9 non-null      object
 2   year    9 non-null      int64
 3   engine  9 non-null      object
 4   cc      9 non-null      float64
 5   color   9 non-null      object
 6   wheels  9 non-null      int64
dtypes: float64(1), int64(2), object(4)
memory usage: 576.0+ bytes

In [8]:
df[['Brand','Model']]

       Brand       Model
0    Hyundai       verna
1      Skoda      Slavia
2      Skoda      Superb
3       audi          A6
4         RR       Ghost
5  Lambogini    Revuelto
6    Hyundai     Elantra
7        KTM       rc200
8     yamaha   r15 v2 se

In [9]:
#creating a subset using head
df_head = df.head(11)
df_head
#Setting name as custom index

       Brand       Model  year   engine     cc         color  wheels
0    Hyundai       verna  2020   petrol    1.6         white       4
1      Skoda      Slavia  2025   petrol    1.5         black       4
2      Skoda      Superb  2020   petrol    2.0         white       4
3       audi          A6  2025   petrol    2.0         white       4
4         RR       Ghost  2020   petrol    6.5         white       4
5  Lambogini    Revuelto  2025   petrol    6.4          Teal       4
6    Hyundai     Elantra  2020   Diesel    2.0         black       4
7        KTM       rc200  2015   petrol  200.0  white orange       2
8     yamaha   r15 v2 se  2019   petrol  150.0    balck blue       2

In [10]:
df.iloc[1:6, 2:3]

   year
1  2025
2  2020
3  2025
4  2020
5  2025

In [11]:
df.iloc[4,1]

' Ghost'

In [12]:
s= 'abcabcab'
s2= 'bbbbb'
new=''
for i in s2:
    if i not in new:
        new+=i

print(len(new))

1

In [13]:
input_list = ["eat","tea","tan","ate","nat","bat"]
#Output: [["bat"],["nat","tan"],["ate","eat","tea"]]

def anagram(strings):
    lists=[]
    for i in strings:
        lists.append(i)
    lists.sort()
    return lists

new_list = []
for i in input_list:
    if i not in new_list:
        new_list.append(i)
    elif new_list[0]:
        pass

In [14]:
# Function to sort characters in a string without using built-in sorted()
def sort_string(s):
    chars = list(s)
    # Simple bubble sort
    for i in range(len(chars)):
        for j in range(i + 1, len(chars)):
            if chars[i] > chars[j]:
                chars[i], chars[j] = chars[j], chars[i]
    return ''.join(chars)

# Grouping anagrams
words = ['ate', 'bat', 'eat', 'mat', 'tab', 'tea']
groups = []

# Keep track of which words are already grouped
used = [False] * len(words)

for i in range(len(words)):
    if not used[i]:
        group = [words[i]]
        used[i] = True
        for j in range(i + 1, len(words)):
            if not used[j] and sort_string(words[i]) == sort_string(words[j]):
                group.append(words[j])
                used[j] = True
        groups.append(group)

print(groups)

[['ate', 'eat', 'tea'], ['bat', 'tab'], ['mat']]

In [9]:
a=10
a=a+5
a

15

In [30]:
a = 10
b=[]
print(a)

def add(a):
    for i in range(0,10):
        a=a+5
        yield a

a=list(add(a))
print(a)

10
[15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

In [2]:
x = "12"
print(isinstance(x, (int, float)))

False

In [ ]:
#Flatten array using recursive function and array extrend method

x = [1,2,3,[4,5,6,[7,8],9],10,11,12]

def flat(inp):
    new=[]
    for i in inp:
        if isinstance(i, list):
            new.extend(flat(i))
        else:
            new.append(i)
    return new

print(flat(x))

# op = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [4]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

# Usage
m = MathUtils()
print(m.add(5, 3))

8

In [8]:
#is vs  ==

x = [1000]
y = [1000]
z = x
print(id(x), id(y), id(z))

print(x == y, x is y , x is z)
x = 'kishore'
y = 'kishore'
z=x


print(id(x), id(y), id(z))

print(x == y, x is y , x is z)

3158881957760 3158882369152 3158881957760
True False True
3158877681056 3158877681056 3158877681056
True True True

In [ ]:


def divide(a, b):
    try:
        result = a / b
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
    else:
        print("Division successful. Result:", result)
    
    finally:
        print("Execution completed.")

print(divide(10, 2))
print()
print(divide(10, 0))

Division successful. Result: 5.0
Execution completed.
None

Error: Cannot divide by zero.
Execution completed.
None

In [ ]:

def flatten_array(nested_list):
    flat_list = []
    for item in nested_list:
        if type(item)==list:
            flat_list.extend(flatten_array(item))  # Recursively flatten
        else:
            flat_list.append(item)
    return flat_list

# Example usage
nested = [1, [2, [3, 4], 5], 6]
x=flatten_array(nested)
print(x)

[1, 2, [3, 4], 5, 6]

In [ ]:
x = [1,2,3]
y = [4,5,3]
x.extend(y)
x

[1, 2, 3, 4, 5, 3]

In [20]:
from random import randint
x = [randint(0,100) for _ in range(10)]
x

[48, 48, 92, 68, 49, 46, 90, 9, 13, 68]